version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
- package-ecosystem: cargo
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  groups:
    cargo-dependencies:
      patterns:
        - "*"
      update-types:
        - "minor"
        - "patch"
